<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>My blog</title>
    <link href='/css/reset.css' rel='stylesheet' />
    <link href='/css/post.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <div class='title'>
      <a href='/'> My blog</a>
    </div>
    <div class='message'>
      Your post was successfully uploaded!
    </div>
    <div class='root'>
      <a href='/'>See the latest posts!</a>
    <div>

    <%# データベースにある投稿を全て表示できるように記述する %>


  </body>
</html>